src/editor/*.meta
src/editor/Control Nodes/*.meta
src/editor/Skin/Icons.meta
src/editor/Skin/Icons/*.meta
src/editor/Skin/Icons/64x64/*.meta
src/editor/Undo/*.meta
src/editor/Commands/*.meta
src/editor/Utility/*.meta
